<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <form method="POST" action=""  style="margin: 90px 0;">
            {% csrf_token %}
            
            <div class="form-group">
            <input type="text" name="username" placeholder="Nom d'utilisateur">
            </div>
            
            <div class="form-group">
                <input type="password" name="password" placeholder="Mot de Passe">
            </div>
            
            <input type="submit" value="Se connecter">


            <p>Vous n'avez pas encore de compte? <a href="{% url 'enregistrement' %}">Sign In!</a></p>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>